@use '../util' as utils;
@use 'colors' as c;

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  background-color: c.$light-grayish-blue;
}

html {
  font-family: utils.$font;
  font-size: 13px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  @media(max-width: 825.8px){
    display: block;
  }
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit
}

p, h1, h2, h3 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

